<div class="content-box">
    <div class="connections-wrapper">
        <img class="logo" width="42px" height="42px" src="/static/icons/logo.svg" alt="logo" />
        <img width="35px" height="35px" src="/static/icons/connection.svg" alt="connection" />
        <img width="55px" height="55px" src="/static/icons/trello-logo.svg" alt="logo" />
    </div>
    <h1 class="title"><%= title %></h1>
    <div class="dividing-line"></div>
    <p class="message"><%= message %></p>
    <div>
        <button class="primary-btn" type="button" onclick="window.close()">Close</button>
    </div>
</div>
